<h1 class="title-text text-center text-dark mt-3">PROFILE</h1>

<h1 class="text-dark text-center">My Toys</h1>

<div class="row my-3">
        {{#each toys}}
         <div class="col-sm-4 my-4">
            <div class="card h-100 my-3">
                <div class="card-body">
                    <a href='/toyDetail/{{this._id}}'><img class="card-img-top mb-3" src="{{this.image}}" alt=""></a>
                    <h5 class="card-title font-weight-bold">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <div class='text-center'>
                        <button class="myButton btn m-2 px-4"><a class="text-white" href='/edit/{{this._id}}'>Edit toy</a></button>
                        <button class="myButton btn m-2"><a class="text-white" href='/delete/{{this._id}}'>Delete toy</a></button>
                    </div>
                </div>
            </div>
          </div>
        {{/each}}
</div>

<div class='col-12 my-3'>
<button class="myButton btn my-3 d-block mx-auto py-2" ><a class="text-white" href='/add'>Add New toy</a></button>
</div>

<h1 class="text-dark text-center mx-auto d-block">My Favorites</h1>
<div class="row my-3">
    {{#each favorites}}
        <div class="col-sm-4 my-4">
            <div class="card h-100 my-3">
                <div class="card-body">
                    <a href='/toyDetail/{{this._id}}'><img class="card-img-top mb-3" src="{{this.image}}" alt=""></a>
                    <h5 class="card-title font-weight-bold">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>



    