<h1 class="title-text text-center text-dark mt-3">PROFILE</h1>

<h1 class="text-secondary text-center">My Toys</h1>

<div class="row my-3 justify-content-center">
    {{#if toys}} 
        {{#each toys}}
        <div class="col-sm-4 my-4">
            <div class="card h-100 my-3">
                <div class="card-body">
                    <a href='/toyDetail/{{this._id}}'><img class="card-img-top mb-3" src="{{this.image}}" alt=""></a>
                    <h5 class="card-title font-weight-bold">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <div class='text-center'>
                        <button class="btn-sm btn-secondary rounded-pill m-2 px-4"><a class="text-white" href='/edit/{{this._id}}'>Edit toy</a></button>
                        <button class="btn-sm btn-secondary rounded-pill m-2"><a class="text-white" href='/delete/{{this._id}}'>Delete toy</a></button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
        <div class="text-center">
            <h4 class="d-block text-center">Donate Some Toys!</h4>
            <button class='btn btn-primary my-4 text-white d-block mx-auto myButton' type="button"><a href="/add" class="text-white h5"> Add New toy</a></button>
        </div>
    {{/if}}    
</div>

<h1 class="text-secondary text-center mx-auto d-block mt-5">My Saved Toys</h1>
<div class="row my-3 justify-content-center">
    {{#if favorites}}
        {{#each favorites}}
            <div class="col-sm-4 my-4">
                <div class="card h-100 my-3">
                    <div class="card-body">
                        <a href='/toyDetail/{{this._id}}'><img class="card-img-top mb-3" src="{{this.image}}" alt=""></a>
                        <h5 class="card-title font-weight-bold">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="text-center">
            <h4 class="d-block text-center">Save some toys!</h4>
            <button class='btn btn-primary my-4 text-white d-block mx-auto myButton' type="button"><a href="/home" class="text-white h5"> Check out Toys!</a></button>
        </div>
    {{/if}}
</div>



    