<div class="bg-light mx-auto rounded">
  <h1 class='my-5 text-center font-weight-bold'>{{toy.name}}</h1>
  <img class="d-block mx-auto" src="{{toy.image}}" id="toy-image" alt="First slide">
  <div class='container toy-detail mt-3 text-center border-bottom'>
    <p class="my-2 pb-3 text-center font-weight-bold">{{toy.category}} years</p>
    <p class="my-2 pb-3 lead text-center">{{toy.description}}</p>
    <p class="my-2 pb-3 text-center">Added By: {{toy._addedBy.name}}</p>
    <form action="/addFavorite/{{toy._id}}" method="POST">
        <button class="btn btn-secondary rounded-pill mx-5 mt-3 mb-5" type='submit'>Save Toy</button>
      </form>
  </div>

  <div class='mx-auto text-center mt-4'> 
    <h1>Contact</h1>
     
    <form action="/contact" id="contact-form" method="post" role="form">
   <div class="form-group text-left mx-auto">
    <label for="exampleInputPassword1">Name</label>
    <input  id="name" 
      name="name" 
      type="text" 
      placeholder="Your name"  class="form-control" id="exampleInputPassword1">
  </div>

  <div class="form-group text-left mx-auto">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
  </div>

 <div class="form-group text-left mx-auto">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>
  <button type="submit" class="btn myButton btn-primary mx-5">Submit</button>
</form>
  </div>
</div>

